.clients {
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding-top: 58px;
    padding-bottom: 62px;
  }
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    padding-top: 0px;
    padding-bottom: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    .clients__list {
      gap: 30px;
    }
  }

  &__link {
    @media screen and(min-width: 0px) {
      width: 210px;
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #afb1b8;
      border-radius: 4px;

      transition-property: border;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 768px) and (max-width: 1199.5px) {
      width: 226px;
    }

    @media screen and(min-width: 1200px) {
      width: 170px;
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #afb1b8;
      border-radius: 4px;

      transition-property: border;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__icon {
    fill: #afb1b8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Меняет цвет при ховере и фокусе ссылки */
  &__link:hover,
  &__link:focus {
    border: 1px solid var(--accent-color);
  }

  /* Выбирает элемент clients__link и применяет к нему ховер и фокус при наведении на линк! */
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1119.5px) {
  .clients__list {
    margin: -15px;
    margin-top: 30px;
  }
}

.container__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 28px;
    line-height: calc(33 / 28);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
