.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    padding-top: 0px;
    padding-bottom: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__link {
    @media screen and(min-width: 0px) {
      width: 210px;
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #afb1b8;
      border-radius: 4px;

      transition-property: border;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and(min-width: 1200px) {
      width: 170px;
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #afb1b8;
      border-radius: 4px;

      transition-property: border;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__icon {
    fill: #afb1b8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Меняет цвет при ховере и фокусе ссылки */
  &__link:hover,
  &__link:focus {
    border: 1px solid var(--accent-color);
  }

  /* Выбирает элемент clients__link и применяет к нему ховер и фокус при наведении на линк! */
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--accent-color);
  }
}
