.logo {
  font-family: var(--secondary-font);
  color: var(--primary-text-lcolor);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.Web {
  color: var(--accent-color);
}
