.main {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 480px;
  max-height: 400px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/header-img-mob-@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/header-img-mob-@2x.jpg);
  }

  // tablet img

  @media screen and (min-width: 481px) and (max-width: 1199.5px) {
    max-width: 768px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/header-img-tab-@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/header-img-tab-@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    max-height: 600px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/img@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/img@2x.jpg);
    }
  }
}

// @media screen and (min-width: 768px) and (max-width: 1199.5px) {
//   width: 768px;
//   height: 400px;
//   padding-top: 118px;
//   padding-bottom: 118px;
// }
// @media screen and (min-width: 1200px) {
// }
// @media screen and (min-width: 0px) and (max-width: 767.5px) {
//   max-width: 480px;
//   max-height: 400px;
//   padding-top: 118px;
//   padding-bottom: 118px;
// }

.main__title {
  top: 50%;
  bottom: 50%;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 0;
  color: var(--white-color);
  font-size: 21px;
  line-height: calc(36 / 21);
  width: 317px;
  padding-bottom: 30px;
  font-family: var(--main-fonts);

  @media screen and (min-width: 480px) and (max-width: 767.5px) {
    font-size: 26px;
    line-height: calc(42 / 26);
  }
  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    padding-bottom: 30px;
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
    width: 696px;
  }
}
