.main {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/logo.jpg);
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-color);
  font-family: var(--main-fonts);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
