.nav {
  @media screen and (min-width: 0px) and (max-width: 767.5px) {
    display: none;
  }
}
.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .nav-item {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.site-nav .item + .item {
  margin-right: 50px;
}
.site-nav .link.current {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-radius: 1px;
}
