.card {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bgc-teams);

  &__item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__box {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__list {
    gap: 30px;
  }

  &__position {
    color: var(--title-text-color);
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }

  &__item {
    text-align: center;
  }
}
